<br />

@if (TempData["Limit"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>@TempData["Limit"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> Lista de libros</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Nuevo Libro</a>
            <a asp-action="SetLimit" class="btn btn-success"> Establecer límite</a>
        </div>
    </div>

    <br />
    <br />
    <table id="booksTable" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Año</th>
                <th>Género</th>
                <th>No. Páginas</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/book.js"></script>

}